@layer app {
  .container {
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 32px;
    justify-content: center;
    margin-top: 16px;
  }

  .icon {
    color: var(--theme-primary-text);
    height: 32px;
    width: 32px;
  }

  .link {
    --scale-factor: 1.05;

    align-items: center;
    border-radius: 16px;
    display: flex;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    width: 100%;

    &:hover {
      animation: expand 0.08s ease-in-out;
      background-color: var(--theme-accent-background);
      transform: scale(var(--scale-factor));
    }
  }

  .or {
    background-color: var(--theme-background);
    border-radius: 50%;
    font-style: italic;
    padding: 32px;
    position: absolute;
    z-index: 2;
  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column;
    }

    .or {
      padding: 0px;
    }
  }

  @keyframes expand {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(var(--scale-factor));
    }
  }

  @media (prefers-reduced-motion: reduce) {
    .link {
      animation: none;
    }
  }
}
