@layer composed-component {
  .button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;

    &:focus-visible {
      outline: 2px dashed var(--theme-outline);
    }
  }

  .header {
    align-items: center;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: var(--app-header-height);
    justify-content: flex-end;
    padding: 0 var(--app-horizontal-padding);
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0;
    padding: 0;
  }

  .svg {
    fill: var(--theme-primary-text);
    height: 48px;
    stroke: var(--theme-primary-text);
    width: 32px;

    &:hover {
      fill: var(--theme-primary-text-hover);
      stroke: var(--theme-primary-text-hover);
    }
  }
}
