@layer component {
  .header {
    align-items: center;
    background-color: inherit;
    display: flex;
    flex-direction: row;
    gap: 16px;
    height: var(--app-header-height);
    justify-content: flex-end;
    padding: 0 var(--app-horizontal-padding);
  }

  .list {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0;
    padding: 0;
  }
}
