@layer composed-component {
  .footer {
    display: flex;
    height: var(--app-footer-height);
    justify-content: center;
  }

  .transitionIn {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}
