body {
  background-color: var(--theme-background);
  color: var(--theme-primary-text);
  font-family: "Roboto", "open sans", helvetica, sans-serif;
  font-weight: 400;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

html {
  position: relative;
  min-height: 100%;
}

li {
  list-style: none;
}
