body {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-family: "Roboto", "open sans", helvetica, sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  width: 100vw;
}

html {
  position: relative;
  min-height: 100%;
}
