@layer composed-component {
  .item {
    align-items: center;
    display: flex;
  }

  .text {
    color: var(--theme-primary-text);

    &:hover {
      color: var(--theme-primary-text-hover);
    }
  }
}
