:root {
  /***************************************
   * Shared app-wide variables
   ***************************************/
  --app-header-height: 100px;
  --app-horizontal-padding: 40px;
  --app-footer-height: 100px;
  --app-footer-height-mobile: 50px;

  /***************************************
   * Light theme variables 
   ***************************************/
  --theme-background: #ffd8d8;
  --theme-primary-text: #330606;
  --theme-primary-text-hover: #396480;
  --theme-secondary-text: rgb(from var(--theme-primary-text) r g b / 0.8);
  --theme-outline: #185529;
  --theme-tag-background: #803980;
  --theme-tag-text: #fffed9;
  --theme-accent-foreground: #463916;
  --theme-accent-background: #fff7d9;
  --theme-sparkle: #398065;
  --theme-highlight-1: #2a5978;
  --theme-highlight-2: #418656;
  --theme-highlight-3: #ca9a41;
  --theme-highlight-4: #394080;
}

:root[data-theme="dark"] {
  /***************************************
   * Dark theme variables
   ***************************************/
  --theme-background: #364370;
  --theme-primary-text: #f0e4c5;
  --theme-primary-text-hover: #ffd498;
  --theme-secondary-text: rgb(from var(--theme-primary-text) r g b / 0.8);
  --theme-outline: #c5cff0;
  --theme-tag-background: #fff091;
  --theme-tag-text: #704236;
  --theme-accent-foreground: #fff9e9;
  --theme-accent-background: #808cb0;
  --theme-sparkle: #ffe894;
  --theme-highlight-1: #ceff95;
  --theme-highlight-2: #ffb5b5;
  --theme-highlight-3: #7eb562;
  --theme-highlight-4: #fff5b3;
}
