@layer component, composed-component, app;

@layer component {
  /* Ensure component layer is created in correct order */
}

@layer composed-component {
  /* Ensure composed-component layer is created in correct order */
}

@layer app {
  /* Ensure app layer is created in correct order */
}

:root {
  /***************************************
   * Shared app-wide variables
   ***************************************/
  --app-header-height: 100px;
  --app-horizontal-padding: 40px;
  --app-footer-height: 100px;
  --app-footer-height-mobile: 50px;

  /***************************************
   * Light theme variables 
   ***************************************/
  --theme-background: #bdc2f9;
  --theme-primary-text: #000000;
  --theme-primary-text-hover: #50451e;
  --theme-outline: #7eb562;
  --theme-tag-background: #e0c253;
  --theme-tag-text: #000000;

  --color-2: #7eb562;
  --color-3: #bdc2f9;
}

:root[data-theme="dark"] {
  /***************************************
   * Dark theme variables
   ***************************************/
  --theme-background: #292a36;
  --theme-primary-text: #ffffff;
  --theme-primary-text-hover: #e0c253;
  --theme-outline: #7eb562;
  --theme-tag-background: #e0c253;
  --theme-tag-text: #000000;

  --color-2: #7eb562;
  --color-3: #bdc2f9;
}
