@layer app {
  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: flex-start;
  }

  .content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: flex-start;
    margin-top: 16px;
  }

  .highlight {
    color: var(--theme-highlight-2);
  }
}
