@layer app {
  .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  .icon {
    color: var(--theme-primary-text);
    font-size: 24px;
  }

  .link {
    align-items: center;
    display: flex;
    gap: 8px;
    width: fit-content;

    &:hover {
      .icon {
        color: var(--theme-primary-text-hover);
      }

      .linkText {
        color: var(--theme-primary-text-hover);
      }
    }
  }

  .photosContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    width: 100%;
  }

  .photosColumn {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
}
